[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/nerdtree-git-plugin"]
	path = plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "plugins/start/ctrlp"]
	path = plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "plugins/start/vim-nerdtree-l-open-h-close"]
	path = plugins/start/vim-nerdtree-l-open-h-close
	url = https://github.com/flw-cn/vim-nerdtree-l-open-h-close
[submodule "plugins/start/vim-bufferogator"]
	path = plugins/start/vim-bufferogator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "plugins/start/vim-fugitive"]
	path = plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugins/start/vim-airline"]
	path = plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugins/start/vim-airline-themes"]
	path = plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "plugins/start/fzf.vim"]
	path = plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "plugins/start/fzf"]
	path = plugins/start/fzf
	url = https://github.com/junegunn/fzf
